body {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #ffffff;
  background: #a2d2ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}
#my-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #efb0c9;
}
h2, h4 {
    background: #efb0c9;
    
}