*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar {
    background; #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.logo {
    font-size: 22px;
    font-weight: bold;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;

}
nav-links a{
    color: red;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
}