.card{
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    border: 4px solid #222222;
    border-radius: 20px;
}