body {
    color:#82a5ca;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
#hero {
    background-image: url("images/universe.gif");
    background-size: cover;
    padding: 10px 0 40px 0;
}
#logo {
    mix-blend-mode: multiply;
    width: 100px;
}
#title {
    text-shadow: 0px 0px 4px black;
}
.btn{
    color: #82a5ca;
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    font-weight: bold; 
}
.underline{
    border-bottom: 4px solid white;
}

 
