body {
    background-image: url("images/universe.jpg");
    color: white;
    background-size: cover;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.btn-apply{
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    font-weight: bold; 
}
 
