.main {
    margin-top: 100px;
}
.logo{
    width: 300px;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
.search {
    height: 24px;
    width: 400px;
    border-radius: 24px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
}
.btn {
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: #dfe1e5;
    margin-left: 10px;
    margin-right: 10px;
}
.btn-wrapper {
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
    margin-top: 100px;
}
a{
    color: blue;
}
.ph{
    font-weight: bold;
    border: 1px solid #dfe1e5;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
.footer{
    text-align: center;
    display: block;

}
